.sizeCard {
  width: 380px;
  height: 364px;
}
.colorStyleImg {
  height: 178px;
  background-color: #c7bebe;
}

.containDescription {
  font-size: 18px;
}
.sizeList {
  font-size: 12px;
}

.elispe {
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 140px;
    width: 170px;
  
}
.aaa {
    
  height: 140px;
  width: 170px;
}
